@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        body {
            background-color: #FFE6B3; /* Altere a cor de fundo para um tom mais vivo de amarelo */
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #FF4500; /* Altere a cor de fundo para um tom mais vivo de vermelho */
            color: #FFF;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cardápio da Pizzaria</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem1.jpg" class="card-img-top" alt="Pizza 1">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 1</h5>
                        <p class="card-text">Descrição da Pizza 1</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem2.jpg" class="card-img-top" alt="Pizza 2">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 2</h5>
                        <p class="card-text">Descrição da Pizza 2</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem1.jpg" class="card-img-top" alt="Pizza 1">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 1</h5>
                        <p class="card-text">Descrição da Pizza 1</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem2.jpg" class="card-img-top" alt="Pizza 2">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 2</h5>
                        <p class="card-text">Descrição da Pizza 2</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem1.jpg" class="card-img-top" alt="Pizza 1">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 1</h5>
                        <p class="card-text">Descrição da Pizza 1</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="caminho_da_imagem2.jpg" class="card-img-top" alt="Pizza 2">
                    <div class="card-body">
                        <h5 class="card-title">Pizza 2</h5>
                        <p class="card-text">Descrição da Pizza 2</p>
                        <p class="card-text">Preço: R$ XX.XX</p>
                        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
